
<h1> <%= @user.username %> </h1>

<dl>
  <dt> Private </dt>
  <dd> <%= @user.private %> </dd>

  <dt> Followers </dt>
  <dd> <%= @user.followers.count %> </dd>

  <% if @user != @signed_user %>
  <dd>  
    <% if FollowRequest.all.where({:recipient_id => @user.id}).where({:sender_id => @signed_user.id}).at(0) != nil %>
          <% if FollowRequest.all.where({:recipient_id => @user.id}).where({:sender_id => @signed_user.id}).at(0).status == "accepted"%>
            <a href="/unfollow"> Unfollow  </a>
          <% elsif  FollowRequest.all.where({:recipient_id => @user.id}).where({:sender_id => @signed_user.id}).at(0).status == "pending"%>
            Request sent <a href="/cancel_request"> Cancel  </a>
          <% elsif  FollowRequest.all.where({:recipient_id => @user.id}).where({:sender_id => @signed_user.id}).at(0).status == "rejected"%>
          <% end %>
        <% else  %>
            <button> Follow   </button>
        <% end  %>
  </dd>
  <% else %>
    <dd> </dd>
    <dd> 
      <h4> Pending follow requests </h4> 
      <%= @user.pending_received_follow_requests.inspect %>      
    
    </dd>
  <%end %>


  
  <dt> Following </dt>
  <dd> <%= @user.following.count %> </dd>

</dl>

<ul>
  <li> <a href="/users/<%= @user.username %>"> Profile </a> </li>
  <li> <a href="/users/<%= @user.username %>/liked_photos"> Liked Photos </a> </li>
  <li> <a href="/users/<%= @user.username %>/feed"> Feed </a> </li>
  <li> <a href="/users/<%= @user.username %>/discover"> Discover </a> </li>

</ul>

<h2>Own photos (<%= @user.own_photos.count %>)</h2>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Owner
    </th>

    <th>
      Caption
    </th>

    <th>
      Posted
    </th>

    <th>
      Likes
    </th>

    <th></th>
  </tr>

  <% @user.own_photos.each do |photo| %>
  <tr>
    <td>
      <img src="<%= photo.image %>">
    </td>

    <td>
      <%= photo.poster.username %>
    </td>

    <td>
      <%= photo.caption %>
    </td>

    <td>
      <%= photo.created_at %>
    </td>
    
    <td> <%= photo.likes.count %> </td>

    <td>
      <a href="/photos/<%= photo.id %>">
        Show details
      </a>
    </td>
  </tr>

  <% end %>
</table>
