<div>
  <div>
    <h1>
      Photo details
    </h1>
    
    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src= "<%= @the_photo.image %>">      
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.poster.username %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>
      
      <dt> Fans  </dt>
      <dd> 
        <% @the_photo.likes.each do |a_like|%>
          <%=  User.where({:id => a_like.fan_id}).at(0).username %>,
        <% end %>
    
      </dd>

      <dt> Add a Fan </dt>
      <dd>
        <% if Like.where({:photo_id => @the_photo.id}).where({:fan_id => @signed_user_id}).at(0) != nil %>
            <a href="/unlike/<%=@the_photo.id %>"> Unlike  </a>
        <% else  %>
          <form action="/insert_like" method="post">
            <label for="photo_id">   </label>
            <input type="hidden" id="photo_id" name="query_photo_id" value="<%= @the_photo.id %>">

            <label for="fan_id"> </label>
            <input type="hidden" id="fan_id" name="query_fan_id" value="<%= @signed_user_id %>">

            <button>Like</button>
          </form>
        <% end  %>
      </dd>

    <% if(session.fetch(:user_id) == @the_photo.poster.id) %>
      <dt> Edit photo </dt>
      <dd>   
        <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
          <label for="image_box"> Image </label>
          <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">

          <label for="caption_box"> Caption </label>
          <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>

          <button> Update photo </button>
        </form>
     </dd>
      
      <dt> Delete photo </dt>
      <dd>  <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a> </dd>
    <% end %>
    </dl>
  </div>
</div>

<hr>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

    <% @the_photo.comments.each do |a_comment| %>
    <tr>
      <td>
       <%= User.where({ :id => a_comment.author_id }).at(0).username %>
      </td>

      <td>
        <%= a_comment.body %>
      </td>

      <td>
        <%= time_ago_in_words(a_comment.created_at) %> ago
      </td>
    </tr>  
    <% end %>
  </table>

<h2>  Add a new comment  </h2>
  <form action="/add_new_comment" method="post">
    <label for="new_comment" >  Comment  </label>
    <textarea id="new_comment"> Enter a comment... </textarea>

    <button>  Add comment  </button>
  </form>

<hr>
